.btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  position: relative;
  display: block;
  text-align: center;
}

.logout {
  position: absolute;
  top: 100%;
  right: -3px;
  background-color: var(--orange);
  border: none;
  color: var(--white);
  padding: 4px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authLink {
  display: block;
  width: 30px;
  height: 30px;
  outline: 2px solid transparent;
  border-radius: 50%;
  outline-offset: 2px;
  transition: outline-color 0.36s ease-in-out;
}

.authLink:hover {
  outline-color: var(--orange);
}

.authLink:focus {
  outline-color: var(--orange);
}

.authLink:active {
  outline-color: var(--orange);
}

.svg {
  width: 100%;
  height: 100%;
  color: var(--orange);
}

@media (min-width: 768px) {
  .btn {
    border-radius: 15px;
    width: 50px;
    height: 50px;
  }
}
