.logout {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--orange);
    border: 0;
    color: var(--white);
    padding: 4px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 2px;
}