.form {
  position: relative;
  width: 100%;
}

.search {
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.button {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.36s ease-in-out;
}

.svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .form {
    max-width: 800px;
  }

  .search {
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
  }

  .button {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .search {
    font-size: 20px;
    padding: 5px 25px;
  }

  .button:hover {
    color: var(--orange);
  }
}
