.content {
  grid-area: content;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.linkPost {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 8px;
  transition: color 0.36s ease-in-out;
}

.linkPost:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  transition: box-shadow 0.36s ease-in-out;
}

.linkAuthor {
  position: relative;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: min-content;
  display: -webkit-box;
  transition: color 0.36s ease-in-out;
}

@media (min-width: 580px) {
  .content {
    grid-area: content;
    padding-top: 10px;
    padding-right: 40px;
  }

  .linkAuthor:hover {
    color: #2d2d2d;
  }
}
